.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    font-size: 37px;
    // margin-bottom: 60px;
    margin-bottom: 0;
    color: #393e46;
    font-weight: 400;
    text-align: center;
  }
}

.dashboard-inner {
  width: 800px;

  .answers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    img {
      width: 90px;
      border-radius: 10px;

      cursor: pointer;
      transition: 0.2s all ease;
    }

    .answer {
      letter-spacing: 1px;
      margin: 0;
      // width: 125px;
      margin: 0 10px;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      transition: all 0.2s ease;
      color: #334257;
      font-size: 37px;
      line-height: 37px;
      text-align: center;
      font-weight: 300;

      &.yes {
        &:hover {
          box-shadow: rgba(#2a72c9, 0.2) 0px 0px 0px 1px;
          color: #2a72c9;
        }
      }

      &:hover {
        box-shadow: rgba(#c92a2a, 0.2) 0px 0px 0px 1px;
        color: #c92a2a;
      }

      .answer-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
        img {
          margin: 0 10px;
        }
      }
    }
  }
}

.heading {
  font-size: 15px !important;
  letter-spacing: 1px;
  margin: 0;
  line-height: 24px;
  width: 200px;
  margin: 0 0;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.2s ease;

  &::first-letter {
    color: #fe5f55;
    font-size: 50px;
    float: left;
    line-height: 40px;
    padding-right: 3px;
    margin-top: 5px;
  }

  &:hover {
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  }
}

.player-wrapper {
  position: relative;
  // padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  width: 160px;
  margin: 0 20px;
  background: black;
  border-radius: 10px;
  height: 160px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.w-cloud {
  font-size: 15px !important;
  letter-spacing: 1px;
  margin: 0;
  line-height: 24px;
  width: 200px;
  margin: 0 0;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.ant-progress-line {
  position: absolute !important;
  bottom: 0;

  .ant-progress-inner {
    border-radius: 0 !important;
    height: 20px;

    .ant-progress-success-bg,
    .ant-progress-bg {
      border-radius: 0 !important;
      height: 20px !important;
    }
  }
}

.note-btn {
  position: absolute;
  left: 0;
  padding: 10px;
  background: #fff;
  color: #6554c0;
  width: 55px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  border-radius: 0 10px 10px 0;
  transition: 0.3s all ease;
  cursor: pointer;
  box-shadow: 6px 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;

  &.active {
    left: 600px;
    animation: antdDrawerFadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    background: #faf9ff;
  }
}

.menu {
  position: absolute;
  top: 25px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  .recommend-btn {
    margin: 0 5px;
  }
}
