.gauge {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-family: "Roboto";

  h1 {
    margin: 0;
    text-align: center;
    color: #334257;
    margin-top: -20px;
  }
  text {
    font-family: "Roboto";
  }
}
